
header{
display: flex;
background: rgba(0, 0, 0, 0.74);
padding-top: 50px;
padding-bottom: 18px;
justify-content: center;
border-bottom: 10px solid black;
margin-bottom: 20px;
}


header a{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 3px 56px 3px 64px;
gap: 10px;
filter: drop-shadow(-6px 6px 4px rgba(0, 0, 0, 0.59));
font-size: 40px;
text-decoration: none;
color: #38B169;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 30px;
padding-right: 30px;
background-color: #282C29;
margin: 0px 100px;
border-radius: 15px;
}

body{
margin: 0px;
}
nav{
    display: flex;
}